:root {
    --black: #202020;
    --gray: #767676;
    --white: #e8e8e8;
    --max-w: 600px;
    --min-w: 280px;
}

a {
    text-decoration: none;
    color: var(--white);
}

a:hover {
    text-decoration: none;
    color: var(--gray);
}

body {
    font-family: 'Roboto Slab', sans-serif;
    background: var(--black);
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

header {
    font-size: 20px;
    font-weight: 700;
    padding: 16px 16px;
}

section {
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-w);
    min-width: var(--min-w);
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

#canvas {
    margin: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.column-container {
    width: 100%;
    max-width: var(--max-w);
    min-width: var(--min-w);
    display: flex;
    flex: 1;
}

.pixel {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: var(--gray);
}

#controls {
    margin: 0;
    padding: 0;
    padding: 16px 16px;
    display: flex;
    gap: 28px;
    background
}

#color-picker {
    width: 48px;
    height: 48px;
}

input[type="color"] {
    border-color: inherit;
    border-radius: 5px;
    padding: 0;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

#dimension-slider {
    width: 100%;
    outline: none;
    /* background-image: url("assets/line.svg"); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto; */
}

footer {
    font-size: 14px;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-w);
    min-width: var(--min-w);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer > div {
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

footer > :first-child {
    padding-left: 16px;
}

footer > :last-child {
    padding-right: 16px;
}

footer > div > img {
    padding: 0 8px;
}
